<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapuCafe - Plataforma de Comercio Electrónico para Amantes del Café</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>CapuCafe - Plataforma de Comercio Electrónico para Amantes del Café</h1>
    <p>Bienvenidos al repositorio de CapuCafe, una plataforma de comercio electrónico dedicada a los amantes del café. Aquí encontrarás información importante sobre nuestro proyecto, nuestros objetivos y algunas referencias que nos han inspirado.</p>

    <h2>Descripción del Proyecto</h2>
    <p><strong>CapuCafe</strong> es una plataforma de comercio electrónico diseñada específicamente para los apasionados del café. Nuestra empresa se especializa en la oferta de una amplia variedad de cafés de alta calidad, desde granos selectos hasta café molido, junto con una selección de máquinas de café, repuestos y accesorios relacionados. Además, ofrecemos un curso de barista en línea, brindando a nuestros clientes la oportunidad de aprender y perfeccionar sus habilidades en la preparación de café desde la comodidad de sus hogares.</p>

    <h2>Público Objetivo</h2>
    <p>Nuestro público objetivo son los amantes del café, desde aquellos que disfrutan de una taza de café de alta calidad en su hogar hasta aquellos que desean convertirse en auténticos expertos en la preparación de café. CapuCafe está diseñado para satisfacer las necesidades de cualquier persona interesada en explorar y adquirir productos de café excepcionales y mejorar sus conocimientos en el mundo del café.</p>

    <h2>Referentes</h2>
    <p>Hemos encontrado inspiración en diversos sitios web relacionados con el café y el comercio electrónico. Aquí te presentamos algunas de las referencias que nos han influenciado:</p>
    <ol>
        <li><a href="https://www.ardu.com.ar/">Ardu Café</a>: Ardu Café es un referente en la venta de café fresco y nos ha inspirado en cuanto a la presentación de productos y la facilidad de navegación.</li>
        <li><a href="https://momotostadores.com/">Momotostadores</a>: Admiramos la forma en que Momotostadores presenta su gama de productos y ofrece información detallada sobre los granos de café y sus características.</li>
        <li><a href="https://www.modobarista.com/cart.php">Modo Barista</a>: Modo Barista se destaca por su enfoque en cursos de barista, lo cual nos ha inspirado para ofrecer un curso de barista en línea en nuestra plataforma.</li>
        <li><a href="https://www.modobarista.com/">Café Bazar</a>: Inspiración para la variedad de productos que ofrecemos.</li>
        <li><a href="https://compragamer.com/">Café Estrella</a>: Si bien entendemos que la pagina no esta relacionado con el cafe, nos inspiramos en la presentación ordenada del carrito de compra y la experiencia del usuario en la etapa de compra.</li>
    </ol>

    <h2>Equipo</h2>
    <ul>
        <li><strong>Nombre del Miembro del Equipo 1:</strong> Descripción breve de la contribución y experiencia.</li>
        <li><strong>Nombre del Miembro del Equipo 2:</strong> Descripción breve de la contribución y experiencia.</li>
        <li><strong>Nombre del Miembro del Equipo 3:</strong> Descripción breve de la contribución y experiencia.</li>
        <li><strong>Nombre del Miembro del Equipo 4:</strong> Descripción breve de la contribución y experiencia.</li>                                                                                                                                                                                                                                                                                      
        <li><strong>Nombre del Miembro del Equipo 5:</strong> Descripción breve de la contribución y experiencia.</li>
    </ul>

    <h2>Imágenes de Wireframes</h2>
    <img src="/images/Home.png" alt="Wireframe de la página de inicio">
    <img src="/images/Productos.png" alt="Wireframe de la página de productos">
    <img src="/images/Login.png" alt="Wireframe de la página de inicio de sesión">
    <img src="/images/Register.png" alt="Wireframe de la página de registro">
    <img src="/images/Carrito-de-compras.png" alt="Wireframe de la página de carrito de compras">
</body>
</html>
