#registro {
    border: 2px solid #27262b;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gravitas One', serif;
    text-align: center;
}

main label {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

main input {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    display: flex;
    width: 300px;
    background-color: white;
    border-color: rgb(119, 116, 116);
}

main h1 {
 margin-bottom: 45px;
}
main button {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #bc7643 !important;
    align-items: center;
    border-color: #bc7643!important;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: medium;
    color: white!important;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#registro p {
    position: absolute;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
}