/* -----------------------------------------------------------------------------------------
Header
-----------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body {
    background-color: #f7f9f4;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}


/* ---------ESTILOS GENERALES HEADER---------*/
.header {
    background-color: #27262B;
    padding: 2% 2% 0px;
    display: flex;
    align-items: center;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: relative;
}

.row {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
    align-items: center;
}


/*Estilos logo*/
.logo {
    position: relative;
    max-width: 20%;
    height: auto;
    padding: 10px;
    vertical-align: middle;
    min-width: 5%;
}

.logo img {
    width: 100%;
    height: auto;
}


.search-container {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: 50px;

}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.search-bar input {
    position: relative;
    z-index: 915;
    color: #333;
    font-size: 16px;
    margin: 0;
    font-family: inherit;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
}

.search-bar button {
    position: absolute;
    z-index: 920;
    padding: 0;
    background: none;
    border: none;
    font-size: 22px;
    color: #666;
    line-height: 1em;
    border-radius: 0 2px 2px 0;
    width: 46px;
    right: 0;
    left: auto;
    background-image: none;
    height: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.login-bar {
    width: 15%;
    display: none;
    justify-content: space-between;
    align-items: center;
    float: left;
    position: relative;
    padding-left: 5%;
}

.login-bar a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    white-space: nowrap !important;
}



#icono-blanco {
    color: white;
}



.icono-checkbox {
    display: none;
}

.account {
    display: block;
}


.icono-checkbox {
    display: none;
}

.icono-checkbox:checked+.account-menu {
    display: block;
    position: absolute;
    top: 100%;
}

.account-menu {
    background-color: #27262B;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
    list-style: none;
}

.account-menu a {
    display: block;
    text-decoration: none;
    color: white;
}


/*Estilos Generales Menu*/
.header .navigation {
    background-color: #27262B;
    position: absolute;
    width: 100%;
    top: 100%;
    /* Cambia "left" a "top" para que el menú aparezca debajo del encabezado */
    left: 0;
    right: 20%;
    box-sizing: border-box;
    display: none;
    z-index: 998;
    list-style: none;

}

.nav-desktop-list {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    white-space: nowrap !important;
    z-index: 9;
}

.navigation ul {
    list-style: none;
}

.header .navigation ul li {
    width: 100%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estilos especificos Menu*/
.header .navigation ul li a {
    font-size: 16px;
    color: #f7f9f4;
    text-decoration: none;
    padding: 8px 30px 8px 10%;
    display: block;
    transition: all .2s ease;
    height: 100%;
    box-sizing: border-box;
}

.header .navigation ul li a:hover {
    background-color: #BC7643;
}

.header .navigation ul li ul {
    position: relative;
    top: 100%;
    width: 100%;
    background-color: #27262B;
    display: none;
    padding: 0;
    left: 0;
}

.header .navigation ul li ul li a {
    font-size: 10px;
    text-transform: capitalize;

}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover>ul {
    display: initial;
}

#toggle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.header label {
    width: 5%;
    display: block;
    cursor: pointer;
    position: relative;
    margin-left: 6%;
}

#toggle:checked~.navigation {
    display: initial;
}

#menu-icon {
    color: white;
    cursor: pointer;
}

.menu {
    width: 45px;
}

/* */

@media (min-width: 768px) {
    .container-fluid {
        display: block;
        align-items: center;
        margin-left: 15px;
    }
    .logo {
        max-width: 8%;
    }

    .login-bar {
        display: flex;
    }

    .fa-bars {
        display: none;
    }

    .header .navigation {
        position: relative;
        width: 100%;
        align-items: flex-start;
        box-sizing: border-box;
        display: block;
    }

    .header .navigation ul li {
        width: auto;
        float: left;
    }

    .header .navigation ul li a {
        padding: 10px;
    }

    .header .navigation ul li ul {
        position: absolute;
        width: 300px;
        left: auto;
    }

}

/* -----------------------------------------------------------------------------------------
Footer
-----------------------------------------------------------------------------------------*/
.footer {
    background-color: #27262B;
    width: 100%;
    align-self: flex-end;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: inline-block;

}

.container {
    display: column;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    text-align: center;
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    white-space: nowrap;
    padding: 20px 0 20px 0;
    border-bottom: 1px white solid;
}


.copyright {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    padding: 20px 0 20px 0;
    border-bottom: 1px white solid;
}

.white-icon {
    fill: white;
}

.contactanos {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    padding: 20px 0 20px 0;
}

.contactanos h1 {
    font-family: 'Gravitas One', serif;
    font-size: 25px;
    margin-bottom: 20px;
}

.contactanos h2 {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    line-height: 25px;

}

@media (min-width: 768px) {
    .footer {
        display: flex;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .social-media {
        border-bottom: none;
    }

    .copyright {
        border-bottom: none;
    }

    .contactanos {
        border-top: none;
    }
}

/* -----------------------------------------------------------------------------------------
Estilos genericos
-----------------------------------------------------------------------------------------*/