*,
*::before *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f9f4;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}


/* ---------ESTILOS GENERALES HEADER---------*/
.header {
    background-color: #27262B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


/*Estilos logo*/
.logo {
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

/*Estilos Generales Menu*/

.navigation ul {
    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;

}

.header .navigation ul li a {
    font-size: 10px;
    color: #f7f9f4;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover {
    background-color: #f7f9f4;
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: #27262B;
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;

}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover>ul {
    display: initial;
}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
}

@media(media-width:950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #27262B;
        display: none;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: #27262B;
    }

    #toggle:checked~.navigation {
        display: block;
    }
}

/* Estilos especificos Menu*/


/* Estilos especificos desplegable */