<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/crearProducto.css">

</head>

<body>
    <%- include('./partials/header')%>

    <main>
        <div id="crearProducto">
            <form action="/crearProducto" method="POST" enctype="multipart/form-data">

                <h1>Cargar un nuevo producto</h1>

                <label for="nombre">Nombre del producto:</label>
                <input type="text" name="nombre">

                <label for="descripcion">Ingresa una descripción:</label>
                <textarea name="descripcion">Escribe aquí...</textarea>

                <label for="categoria">Categoria:</label>
                <select name="categoria">
                    <option value="granos">Café en granos</option>
                    <option value="capsulas">Capsulas</option>
                    <option value="cafeteras">Cafeteras</option>
                </select>

                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" value="" required>

                <label for="imagenes">Selecciona una o más imagenes para el producto: </label>
                <input type="file" name="imagenes" accept=".jpg,.png" multiple>

                <button type="submit" class="btn btn btn-info">Guardar</button>
                <a href="/administrar" class="btn btn-danger">Volver</a>
            </form>
        </div>
    </main>


    <%- include('./partials/footer')%>
</body>

</html>