<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>CapuCafe</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="logo.png" alt="Logo de la marca">
        </div>
        <input type="checkbox" id="toggle">
        <label for="toggle"><i class="fas fa-bars" id="menu-icon"></i></label>
        <nav class="navigation">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a>
                    <ul>
                        <li><a href="#">Cafes</a></li>
                        <li><a href="#">Cafeteras</a></li>
                        <li><a href="#">Repuestos</a></li>
                    </ul>
                </li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
            </ul>

        </nav>
    </header>


    <section class="home-slider">
        <img src="banner.jpg" alt="Banner Slider">
    </section>
    <section class="Destacados-slider">
        <img src="Destacados.jpg" alt="Destacados Slider">
    </section>
    <section class="promos-slider">
        <img src="Promo.jpg" alt="Promo Slider">
    </section>

</body>