<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <%- include('./partials/header')%>

    <!-- Banner principal -->
    <figure class="banner">
        <img src="/images/img-home-banner.jpg" alt="CapuCafe Banner" class="home-banner">
    </figure>
    <!-- Seccion de productos destacados -->
    <main class="main">
        <section class="destacados">
            <h1>Destacados</h1>
            <div class="product-container">
                <!-- Producto 1 -->
                <article class="main-article">
                    <a href="/productDetail">
                        <div class="product">
                            <img href="/productDetail" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
                                class="product-image">
                            <div class="product-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                                <svg class="truck" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                                </svg>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </a>
                </article>
                <!-- Producto 2 -->
                <article class="main-article">
                    <a href="/productDetail">
                        <div class="product">
                            <img href="/productDetail" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
                                class="product-image">
                            <div class="product-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                                <svg class="truck" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                                </svg>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </a>
                </article>
                <!-- Producto 3 -->
                <article class="main-article">
                    <a href="/productDetail">
                        <div class="product">
                            <img href="/productDetail" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
                                class="product-image">
                            <div class="product-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                                <svg class="truck" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                                </svg>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </a>
                </article>
                <article class="main-article">
                    <a href="/productDetail">
                        <div class="product">
                            <img href="/productDetail" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
                                class="product-image">
                            <div class="product-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                                <svg class="truck" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                                </svg>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </a>
                </article>
                <!-- Agrega más productos según tus necesidades -->
            </div>
        </section>

        <section class="offers">
            <h1>Ofertas</h1>
            <div class="product-container">
                <!-- Producto 1 -->
                <article class="main-article">
                    <a href="/productDetail">
                        <div class="product">
                            <img href="/productDetail" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
                                class="product-image">
                            <div class="product-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                                <svg class="truck" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                                </svg>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </a>
                </article>
                <!-- Producto 2 -->
                <article class="main-article">
                    <a href="/productDetail">
                        <div class="product">
                            <img href="/productDetail" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
                                class="product-image">
                            <div class="product-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                                <svg class="truck" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                                </svg>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </a>
                </article>
                <!-- Producto 3 -->
                <article class="main-article">
                    <a href="/productDetail">
                        <div class="product">
                            <img href="/productDetail" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
                                class="product-image">
                            <div class="product-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                                <svg class="truck" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                                </svg>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </a>
                </article>
                <!-- Producto 4 -->
                <article class="main-article">
                    <a href="/productDetail">
                        <div class="product">
                            <img href="/productDetail" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
                                class="product-image">
                            <div class="product-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% OFF</p>
                                <svg class="truck" xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                                </svg>
                            </div>
                            <p class="description">Cafetera Moulinex</p>
                        </div>
                    </a>
                </article>
                <!-- Agrega más productos de ofertas según tus necesidades -->
        </section>
        </div>
    </main>
    <figure class="promotion-banner">
        <img src="/images/img-prom-banner.jpg" alt="Mercado Liebre Banner" class="prom-banner">
    </figure>

    <!-- Footer -->
    <%- include('./partials/footer')%>
</body>