<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="/css/carritodecompras.css">
    <%- include('./partials/head')%>
</head>

<body>
    <%- include('./partials/header')%>
        <div class="cart-container">
            <h2>Resumen del Carrito</h2>
            <table id="cartTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody id="cartItems">
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" align="right"><strong>Total:</strong></td>
                        <td id="totalPrice">$0.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>

    <!-- Footer -->
    <%- include('./partials/footer')%>
</body>

</html>