<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/editarProducto.css">

</head>

<body>
    <%- include('./partials/header')%>

    <main>
        
        <div id="editarProducto">
            <form action="/productos" method="post">

                <h1>Editar Producto</h1>

                <label for="nombre">Nombre del Producto:</label>
                <input type="text" id="nombre" name="nombre" value="" required>

                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion">Escribe aquí...</textarea>

                <label for="imagen">Imagen (URL):</label>
                <input type="text" id="imagen" name="imagen" value="" required>

                <label for="imagenes">Selecciona una o más imagenes para el producto: </label>
                <input type="file" name="imagenes" accept=".jpg,.png" multiple>

                <label for="categoria">Categoría:</label>
                <input type="text" id="categoria" name="categoria" value="" required>

                <label for="colores">Colores:</label>
                <input type="text" id="colores" name="colores" value="" required>

                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" value="" required>

                <button type="submit">Guardar Cambios</button>
            </form>
        </div>
    </main>


    <%- include('./partials/footer')%>
</body>

</html>