<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="css/registerstyles.css">
</head>

<body>
    <%- include('../partials/header')%>

    <main>
        <div id="registro">
            <form>
                <h1>Registrate</h1>

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre">

                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido">

                <label for="email">Correo electronico:</label>
                <input type="email" name="email">

                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario">

                <label for="clave">Contraseña:</label>
                <input type="password" name="clave">

                <div id="boton"><button type="submit">Enviar</button></div>
            </form>
            <p>¿Ya tenés cuenta?<a href="/login">Iniciá sesión aquí</a></p>
        </div>
    </main>

    <%- include('../partials/footer')%>
</body>

</html>